@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
}

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}

.range::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2563eb;
  border-radius: 9999px;
  border: 3px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
  margin-top: -8px;
}

.range::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.range::-webkit-slider-runnable-track {
  height: 6px;
  background: #2563eb;

  border-radius: 9999px;
}
